alias myip='dig +short myip.opendns.com @resolver1.opendns.com'
alias root='sudo -i'
tailf='tail -f'

# Hadoop
alias hstart="$HADOOP_HOME/sbin/start-dfs.sh;$HADOOP_HOME/sbin/start-yarn.sh"
alias hstop="$HADOOP_HOME/sbin/stop-yarn.sh;$HADOOP_HOME/sbin/stop-dfs.sh"


# ls
alias ls='ls -G'
alias ll='ls -hl'
alias la='ls -a'
alias lx='ls -lXB'
alias lt='ls -ltr'
alias lm='ll | more'
alias tree="tree -C"

# Find
alias fr='find . -name'
alias fh='find $HOME -name'

# Grep
alias grep='grep --color=auto'
alias egrep='egrep --color=auto'
alias fgrep='fgrep --color=auto'

# Disk Usage
alias df='df -H'
alias du='du -sh'

# Others
alias pingoo="ping -c 3 www.google.com"
alias cclear="clear;ls"
alias qwe="mvim"
alias sqwe='sudo mvim'
alias subl='open -a Sublime\ Text\ 2'
alias j="jump"
alias less="less -s -M +Gg"
alias meow="jump"
alias fucking="sudo"

# Git Shortcuts
alias gpom="git push origin master"
alias gpo="git push origin "
alias gpall="git push --all"
alias gs='git status -s'
alias gc='git commit'
alias ga='git add'
alias gd='git diff'
alias gb='git branch'
alias gl='git log -p --graph --abbrev-commit'
alias gsb='git show-branch'
alias gco='git checkout'
alias gg='git grep --ignore-case'
alias gk='gitk --all'
alias gr='git rebase'
alias gri='git rebase --interactive'
alias gcp='git cherry-pick'
alias grm='git rm'
alias taginit='/usr/local/bin/ctags -R'

alias usenode='brew unlink iojs && brew link node && echo Updating NPM && npm install -g npm@latest && echo Using Node.js'
alias useio='brew unlink node && brew link --force iojs && echo Updating NPM && npm install -g npm@latest && echo Using io.js'

alias envsubst='/usr/local/Cellar/gettext/0.19.6/bin/envsubst'

alias weather='curl wttr.in'
alias moon='curl wttr.in/Moon'
alias timeout='gtimeout'

function echo_exec {
    echo "--> $fg_bold[red] ${1} $reset_color"
    eval ${1} 2>&1
}

function machine-resize {
    echo_exec "docker-machine stop ${1}"
    echo_exec "VBoxManage modifyvm ${1} --memory ${2}"
    echo_exec "docker-machine start ${1}"
}

function ssh-tmux {
    ssh ${1} -t tmux a
}

# Data utils
alias csvcols="awk -F',' '{print NF}'"
alias pp='python -m json.tool'

function monitor {
    while true; do eval ${1}; sleep 1; clear; done
}

function tracecmd {
    while true; do eval ${1}; sleep 1; done
}

function stouch {
    touch ${1} && chmod +x ${1}
}

# Docker
function docker-bash {
    docker run -it ${1} bash
}

function docker-reset {
    docker kill $(docker ps -a -q) && docker rm $(docker ps -a -q)
}

function docker-remove-all-images {
    docker rmi $(docker images -q)
}

# Pretty print JSON
function ppjson {
    cat $1 | python -mjson.tool
}

function sserver {
    python -m SimpleHTTPServer $1
}

function frall {
    find * -type f | xargs perl -pi -e 's/$1/$2/g'
}

# Search in bash_history
function hsearch {
	history | grep -i $1
}

function psg {
	ps -e | grep -in $1
}

# Profile Shortcuts
function sourceprofile {
	source $HOME/.zshrc
}

# wget Shortcut
function getsrc {
    wget $1 -O `echo "$1" | sed 's/\/$//' | awk -F/ '{print $NF }'`
}

function mcm {
    make clean && make $1
}

function vimPlugins {
    cat $HOME/.vim/bundle/*/.git/config | grep url | cut -d "=" -f2 | sed 's/ /git clone /g'
}

function rsketch {
    mkdir -p /tmp/processing
    processing-java --output=/tmp/processing/ --force --run --sketch=$PWD
}

function editconflicts() {
    mvim +/"<<<<<<<" $( git diff --name-only --diff-filter=U | xargs )
}

function define() {
    curl -s "http://www.collinsdictionary.com/dictionary/english/$*" | \
        sed -n '/class="def"/p' | \
        awk '{gsub(/.*<span class="def">|<\/span>.*/,"");print}' | \
        sed "s/<[^>]\+>//g";
}

function export_aws_credentials() {
    CREDENTIALS_FILE=${1}
    export AWS_ACCESS_KEY_ID=`cut -d',' -f2 ${CREDENTIALS_FILE} | tail -n1`
    export AWS_SECRET_ACCESS_KEY=`cut -d',' -f3 ${CREDENTIALS_FILE} | tail -n1`
}

fancy-ctrl-z () {
  if [[ $#BUFFER -eq 0 ]]; then
    BUFFER="fg"
    zle accept-line
  else
    zle push-input
    zle clear-screen
  fi
}
zle -N fancy-ctrl-z
bindkey '^Z' fancy-ctrl-z
